@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --grey: #2e2e2e;
    --dark: #1d1d1d;
    --light: #fff;
    --purple: #824ef8;
    --purple-04: rgb(130, 78, 210, 0.4)
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

.card {
    border-color: var(--grey);
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.list-group-item {
    background-color: var(--grey);
    color: var(--light);
}

.btn-purple {
    color: var(--light);
    background-color: var(--purple);
}

.btn-purple:hover {
    color: var(--light);
    background-color: rgb(129, 79, 248, 85%);
}

.form-group{ 
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--light);
    background-color: var(--grey);
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.custom-select {
    background: var(--grey) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
}

.select-style {
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--light);
    background-color: var(--grey);
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.select-style:focus,
.select-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 20px;
    line-height: 48px;
    text-align: left;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--purple);
  -webkit-text-fill-color: var(--light);
  -webkit-box-shadow: 0 0 0px 1000px var(--purple-04) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.logged-in {
    color: green;
    font-size: 25px;
}

.logged-out {
    color: red;
    font-size: 25px;
}

.no-text-decoration, .no-text-decoration:hover, .no-text-decoration:focus {
    text-decoration: none;
}

.wrapper-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}